body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span.title {
	font-weight: bold;
}

span.warning {
	color: #CCA300;
}

.hidden {
  display: none;
}